/* start main rulez */
body {
	background-color:#888
}
.container {
	width:1170px;
	margin:auto;
}
/* end main rulez */
/* start header */
.header .slider {
	background:#009933;
	height:400px;
}
.header .navbar {
	background-color:#252F31;
	color:#FFF;
	overflow:hidden;
}
.header .navbar h2 {float:left}
.header .navbar h2 span {color:#009933}
.header .navbar ul {
	list-style:none;
	padding-left:0;
	overflow:hidden;
	float:right;
}
.header .navbar ul li {
	float:left;
	padding:10px;
	
	
}








/* end header */
